* { margin:0; padding:0;}
body { margin: 6px 15px; background: #f7f7f7 url(../images/bg.png) repeat-x; font: normal 62.5% arial,sans-serif; }

h2 { margin-bottom:11px; font-size:14px; color:#4B8093;}
h3 { font-size:13px; color:#29464E; margin-left:10px; }
 h3 span, h2 span { font-weight:normal;}
  h3 span a, h2 span a { font-variant:small-caps;}
h4 { font-size:16px; font-weight:bold; color:#000; }
/* h5 { font-size:14px; margin:0px; padding:0px; text-decoration:underline; } */
p { font-size:11px;}

a { color:#009ACC;}
a:active { outline:none; color:#009ACC;}
 ul#show_options { width:800px; margin-left:15px; }
  ul#show_options li { list-style-type:square; margin: 5px 16px; color:#4B8093; font: bold 11px arial,sans-serif;}
   ul#show_options li ul { margin-bottom:11px;}
    ul#show_options li ul li { font-weight:normal; list-style-type:disc; color:#333; }

table { border: solid 1px #CFD7D7; border-collapse:collapse;}
 table caption { padding: 25px 0 10px; text-align:left;}
 table caption h3 { margin-left:0px; }
 table th { padding: 5px 10px 5px 5px; border: solid 1px #CFD7D7; background: #F1F1F1 url(../images/bg_th.png) repeat-x; font-size:11px; color:#29464E; text-align:left; cursor:help;}
 table td { padding:5px; font-size:11px; background:#fff; border:1px solid #CFD7D7; }
  table tr.even td { background:#f0f0f0;}
 table.investigate { width:100%;}

#server_settings {}
 #server_settings table { width:555px;}
  #server_settings td { vertical-align:top; font-size:13px;}
        #server_settings td span { font-size:11px; color:#000; display:block; padding-top:5px; }
        #server_settings td span ul { list-style: square outside none; margin:5px 0px 10px 17px; }
	#server_settings input { vertical-align:-2px;}
	#server_settings div { width:250px; margin: -5px -290px 10px 15px; position:relative; padding: 7px 10px; float:right; background:#ededed; font-size:11px; color:#000;}
	#server_settings p { margin: 0 0 5px;}
 #server_settings input#save_settings { margin: 8px 0 0 511px; font-size:13px;}


#batchwatch {}
 #batch_controler { width:373px; padding: 5px 8px; margin: 15px 0 10px 10px; border: solid 1px #DEE3E3; background:#f1f1f1 url(../images/bg.png) repeat-x 0 -2px; font: bold 11px arial,sans-serif;}
  #batch_controler a { text-decoration:none; margin-right:10px;}
   #batch_controler a img { border:none; vertical-align:-3px;}
 #batchwatch_table { margin-left:11px; }
  table#batchwatch_table th { cursor:auto; margin-bottom:6px;}
  table#batchwatch_table td { vertical-align:top;}
   table#batchwatch_table td ul { list-style: circle outside none; margin: 0 0 6px 16px;}
  #batchwatch_table p { margin-bottom:6px;}
 
 
div#content div.login { padding-bottom:20px; }
form.loginform label { display:block; float:left; width:90px; margin-bottom:10px; }
form.loginform input { margin-bottom:10px; } 
    
.login-error { color:#FF6666; font-weight:bold; }

span.value.error {background-color:#FF6666; font-weight:normal; }
span.value.passed { background-color:#66FF66; font-weight:normal; } 

/* ul li.title { font-weight:bold; list-style-type:none;}
ul li.error_message { list-style-type:none;}
div.smtp_status { margin-bottom: 25px; } */

table.batchwatch_table tr td span.tip { font-weight:normal; background:url('../images/optional.png') no-repeat top left; padding-left:16px; }
div.intro { font-size:14px; }

#descriptions div { display:none; font-size:14px;}
div.status_summary a { font-size:14px; }
/*table.entries_table th { background: #777 url('../images/show_info.png') no-repeat top left; }*/

td span.tooltip, th span.tooltip  { font-weight:normal; text-align:left; color:#000; display:none; position:absolute; background:#fffbcc; margin-left:5px; padding:10px; width:200px; }

table.notifications { margin-bottom: 100px;}

#kmcSubMenu { margin: 1px 0 27px; display:table; zoom:1;}
 #kmcSubMenu li { float:left; display:inline; list-style: none inside none; padding-left:9px; height:19px;}
  #kmcSubMenu li a, #kmcSubMenu li a:active, #kmcSubMenu li a:visited { height:19px; padding: 1px 12px 0 4px; display:block; font: bold 12px arial,sans-serif; color:#666; text-decoration:none;}
  #kmcSubMenu li a:hover { color:#000;}
#kmcSubMenu li.active { margin-top:1px; background:url(../images/jellybean.png) 0 0 no-repeat;}
#kmcSubMenu li.active a { font-weights:normal; color:#fff; background:url(../images/jellybean.png) right 0 no-repeat;}


#pager { padding: 15px 0 10px; color:#444;}
 #pager a { text-decoration:none; color:#000;}
  #pager a:hover { font-weight:bold; text-decoration:underline;}

 td div { background:#4e9502; padding: 1px 3px;}
  td div.import, td div.moderate, td div.convert { background:#5392a5;}
  td div.error { background:#e31414;}
  td div.ready { background:#4e9502;}
  td div.deleted, td div.blocked { background:#000; color:#fff;}
  td div.running { background:greenyellow;} /* ??? */
 
  td.duration { text-align:center;}
  
  #howwhen, #form1 {display:none;}
  
table#entry_filters { margin-top:11px; background:none; border:none;}
 table#entry_filters caption { text-align:left; color:#666;}
 #entry_filters td { background:none; border:none; font-weight:normal; color:#333;}
  #entry_filters td.filter_name { font-weight:bold; width:120px; cursor:help;}
   table#entry_filters input[type="checkbox"] {vertical-align:-2px;}
   table#entry_filters input.datepicker { width:80px;}
   input#filter__eq_partner_id, input#filter__mlikeor_tags-admin_tags-name, input#filter__in_id { width:221px;}
  
form#investigate_entry { width:40%; padding: 10px; border: solid 1px #CFD7D7; margin: 20px 0 10px; background:#eee;}
 form#investigate_entry label { font: bold 13px arial,sans-serif; color:#29464E;}
 form#investigate_entry input[type="text"] { font-weight:bold; padding:1px;}
 form#investigate_entry p { font-size:12px; margin: 12px 0 5px;}
 
 span.smtperror { font-weight:bold; color:#e31414; }