@CHARSET "ISO-8859-1";


	
.batchwatch_table { font-family: arial; font-size:12px; border-collapse: collapse;}
 .batchwatch_table td { padding:5px; vertical-align:top; }

.batchwatch_table_header { heigth: 30px; font-weight: bold;}
.batchwatch_table_header th { font-weight:bold; height:25px; vertical-align:middle; text-align:left; padding:5px; }

.batchwatch_table .status ul { padding:0; margin: 2px 0 8px 5px; list-style: circle inside none;}
.batchwatch_table .status li { padding:0; margin:0; list-style-position: circle inside none;}

.entries_table {  font-family: arial; font-size:12px; border-collapse: collapse; }
 .entries_filter_title { font-weight: bold; font-size:12px; width: 70px;}